$body-bg: #BBB; // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";

#stats {
  border-left: 5px solid skyblue;
  list-style-type: none;
  padding: 10px 20px;
}

#signup-b {
  margin-left: 5px;

}

div {
  width: 100%
}

.btn {
  padding: 30px 150px;
  overflow: hidden;
  display: block;
}

a:link {
  color: grey;
}






.modal {
  font-size: 12px;
}

.modal > .content {
  width: 100%;
  padding: 10px 5px;
}


.modal > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}