$body-bg: #BBB; // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";

#stats {
  border-left: 5px solid skyblue;
  list-style-type: none;
  padding: 10px 20px;
}

#signup-b {
  margin-left: 5px;

}

div {
  width: 100%
}

.btn {
  padding: 30px 150px;
  overflow: hidden;
  display: block;
}

a:link {
  color: grey;
}


.popup-content {
  width:40%;
  height: width;
  background-color: aquamarine;
}
